div {
	width: 100px;
	height: 100px;
}
#div1 {
	background-color: #5FCF8D;
	position: static;
}
#div2 {
	background-color: #77C0ED;
	position: fixed;
	top: 5px;
	left: 220px;
}
#div3 {
	background-color: #EF6C79;
	position: absolute;
	top: 5px;
	left: 115px;
}
#div4 {
	background-color: #F192DA;
	position: relative;
}
.divs {
	background-color: #F90;
	width: 300px;
	margin: 20px;
	float: left;
}
#div6 {
	clear: right;
}
#cont {
	width: 960px;
	margin: 0 auto;
}